@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


body {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 16px;
  line-height: 1;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,94,121,0.5219129888283438) 1%, rgba(0,212,255,1) 100%);
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    color: rgb(17, 15, 15);
    border-left: 1px solid black;
    padding: 10px;
    

  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #0e000041;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }

  #footer h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .redbtn {
    height: 50px;
    font-size: 20px;
    justify-content: center;
    width: 120px;
    background-color: red;
    border-radius: 10px;
    border:none;
      }
   
.redbtn:hover {
    animation: flash 1s;
}
@keyframes flash {
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



